@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .artboard1row0 {
    display: flex;
    margin-left: 81px;
    margin-top: 53px;
    width: 249px;
    height: 45px
  }
  .style16,
  .style19 {
    font-weight: 700;
    margin-left: 0
  }
  .style19 {
    letter-spacing: 2px;
    height: 2px;
    color: #a1a1a1;
    font-family: Lato,serif;
    font-size: .1875em
  }
  .style16 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .75em;
    line-height: 19px;
    width: 89px;
    align-self: center
  }
  .style17,
  .style18 {
    font-family: Lato,serif;
    font-weight: 700
  }
  .style17 {
    line-height: 7px;
    width: 122px;
    align-self: stretch;
    color: #a1a1a1;
    font-size: .25em;
    margin-left: 38px
  }
  .style18 {
    color: #000;
    text-align: center;
    font-size: .125em;
    letter-spacing: 2px;
    margin-left: 208px;
    margin-top: 6px;
    height: 2px
  }
  .artboard1row2 {
    position: relative;
    display: flex;
    margin-left: 62px;
    margin-top: 44px;
    width: 296px;
    height: 79px
  }
  .style29 {
    margin-left: 0;
    width: 42px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style15 {
    position: relative;
    margin-left: 154px;
    margin-top: 27px;
    width: 100px;
    height: 64px;
    flex-shrink: 0
  }
  .artboard1row3,
  .style2 {
    position: relative;
    display: flex
  }
  .artboard1row3 {
    margin-top: 163px;
    margin-left: 1px;
    width: 373px;
    height: 82px
  }
  .style2 {
    background-color: #f8f8f8;
    margin-left: 0;
    width: 159px;
    height: 100%;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .artboard1row3container0row0 {
    display: flex;
    margin-left: 21px;
    margin-top: 19px;
    width: 176px;
    height: 50px
  }
  .style14 {
    color: #f26c4f;
    font-family: Montserrat,serif;
    font-size: 0;
    font-weight: 700;
    letter-spacing: 3px;
    margin-left: 0;
    height: 100%;
    align-self: stretch
  }
  .artboard1row3container0row0column1 {
    display: flex;
    margin-left: 102px;
    margin-top: 16px;
    width: 70px;
    height: 27px;
    flex-direction: column
  }
  .style20,
  .style21,
  .style22 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .375em;
    font-weight: 700;
    margin-top: 0;
    height: 5px
  }
  .style21,
  .style22 {
    font-size: .1875em;
    letter-spacing: 2px;
    text-decoration: underline solid #000;
    margin-top: 8px;
    height: 3px
  }
  .style3 {
    background-color: #f8f8f8;
    position: relative;
    margin-left: 90px;
    margin-top: 28px;
    width: 123px;
    height: 64px;
    flex-shrink: 0
  }
  .style23,
  .style24,
  .style4 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .375em;
    font-weight: 700;
    margin-left: 282px;
    margin-top: 17px;
    height: 5px
  }
  .style23,
  .style24 {
    font-size: .1875em;
    letter-spacing: 2px;
    text-decoration: underline solid #000;
    margin-left: 285px;
    margin-top: 8px;
    height: 3px
  }
  .artboard1row7 {
    position: relative;
    display: flex;
    margin-left: 63px;
    margin-top: 0;
    width: 267px;
    height: 118px
  }
  .artboard1row7column0,
  .style6 {
    margin-left: 2px;
    width: 100px;
    height: 104px;
    flex-shrink: 0
  }
  .artboard1row7column0 {
    display: flex;
    margin-left: 0;
    height: 136px;
    flex-direction: column
  }
  .style25,
  .style7 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .375em;
    font-weight: 700;
    margin-top: 118px;
    height: 5px
  }
  .style25 {
    font-size: .1875em;
    letter-spacing: 2px;
    text-decoration: underline solid #000;
    margin-left: 5px;
    margin-top: 11px;
    height: 3px
  }
  .style9 {
    background-color: #f26c4f;
    position: relative;
    margin-left: 88px;
    margin-top: 27px;
    width: 79px;
    height: 118px;
    flex-shrink: 0
  }
  .artboard1row8 {
    position: relative;
    display: flex;
    margin-left: 61px;
    margin-top: 341px;
    width: 210px;
    height: 58px
  }
  .style5 {
    background-color: #f8f8f8;
    position: relative;
    margin-left: 0;
    width: 92px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style10,
  .style26,
  .style27,
  .style28 {
    color: #000;
    font-family: Montserrat,serif;
    font-weight: 700
  }
  .style10 {
    text-align: right;
    line-height: 13px;
    position: relative;
    width: 66px;
    flex-shrink: 0;
    font-size: .375em;
    margin-left: 52px;
    margin-top: 48px
  }
  .style26,
  .style27,
  .style28 {
    font-size: .1875em;
    letter-spacing: 2px;
    text-decoration: underline solid #000;
    margin-left: 203px;
    margin-top: 16px;
    height: 3px
  }
  .style26,
  .style28 {
    margin-top: 8px
  }
  .style26 {
    margin-left: 68px;
    margin-top: 3px
  }
  .artboard1row12 {
    display: flex;
    margin-left: 33px;
    margin-top: 25px;
    width: 247px;
    height: 143px
  }
  .style12 {
    margin-left: 0;
    width: 111px;
    height: 100%;
    align-self: stretch
  }
  .artboard1row12column1 {
    display: flex;
    margin-left: 66px;
    margin-top: 112px;
    width: 70px;
    height: 13px;
    flex-direction: column
  }
  .style0,
  .style1 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .1875em;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: underline solid #000;
    margin-top: 0;
    height: 3px
  }
  .style1 {
    margin-top: 8px
  }
  .style11 {
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    margin-left: 1px;
    margin-top: 522px;
    width: 203px;
    height: 82px;
    flex-direction: column
  }
  .style13 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .375em;
    font-weight: 700;
    position: relative;
    margin-left: 170px;
    margin-top: 33px;
    height: 5px;
    flex-shrink: 0
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .artboard1row0 {
    display: flex;
    margin-left: 166px;
    margin-top: 109px;
    width: 510px;
    height: 92px
  }
  .style16,
  .style19 {
    font-weight: 700;
    margin-left: 0
  }
  .style19 {
    letter-spacing: 4px;
    height: 4px;
    color: #a1a1a1;
    font-family: Lato,serif;
    font-size: .384em
  }
  .style16 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: 1.536em;
    line-height: 39px;
    width: 182px;
    align-self: center
  }
  .style17,
  .style18 {
    font-family: Lato,serif;
    font-weight: 700
  }
  .style17 {
    line-height: 14px;
    width: 250px;
    align-self: stretch;
    color: #a1a1a1;
    font-size: .512em;
    margin-left: 78px
  }
  .style18 {
    color: #000;
    text-align: center;
    font-size: .256em;
    letter-spacing: 4px;
    margin-left: 426px;
    margin-top: 12px;
    height: 4px
  }
  .artboard1row2 {
    position: relative;
    display: flex;
    margin-left: 127px;
    margin-top: 90px;
    width: 606px;
    height: 162px
  }
  .style29 {
    margin-left: 0;
    width: 86px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style15 {
    position: relative;
    margin-left: 315px;
    margin-top: 55px;
    width: 205px;
    height: 131px;
    flex-shrink: 0
  }
  .artboard1row3,
  .style2 {
    position: relative;
    display: flex
  }
  .artboard1row3 {
    margin-top: 334px;
    margin-left: 2px;
    width: 764px;
    height: 168px
  }
  .style2 {
    background-color: #f8f8f8;
    margin-left: 0;
    width: 326px;
    height: 100%;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .artboard1row3container0row0 {
    display: flex;
    margin-left: 43px;
    margin-top: 39px;
    width: 360px;
    height: 102px
  }
  .style14 {
    color: #f26c4f;
    font-family: Montserrat,serif;
    font-size: 0;
    font-weight: 700;
    letter-spacing: 6px;
    margin-left: 0;
    height: 100%;
    align-self: stretch
  }
  .artboard1row3container0row0column1 {
    display: flex;
    margin-left: 209px;
    margin-top: 33px;
    width: 143px;
    height: 55px;
    flex-direction: column
  }
  .style20,
  .style21,
  .style22 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .768em;
    font-weight: 700;
    margin-top: 0;
    height: 10px
  }
  .style21,
  .style22 {
    font-size: .384em;
    letter-spacing: 4px;
    text-decoration: underline solid #000;
    margin-top: 16px;
    height: 6px
  }
  .style3 {
    background-color: #f8f8f8;
    position: relative;
    margin-left: 184px;
    margin-top: 57px;
    width: 252px;
    height: 131px;
    flex-shrink: 0
  }
  .style23,
  .style24,
  .style4 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .768em;
    font-weight: 700;
    margin-left: 578px;
    margin-top: 35px;
    height: 10px
  }
  .style23,
  .style24 {
    font-size: .384em;
    letter-spacing: 4px;
    text-decoration: underline solid #000;
    margin-left: 584px;
    margin-top: 16px;
    height: 6px
  }
  .artboard1row7 {
    position: relative;
    display: flex;
    margin-left: 129px;
    margin-top: 0;
    width: 547px;
    height: 242px
  }
  .artboard1row7column0,
  .style6 {
    margin-left: 4px;
    width: 205px;
    height: 213px;
    flex-shrink: 0
  }
  .artboard1row7column0 {
    display: flex;
    margin-left: 0;
    height: 279px;
    flex-direction: column
  }
  .style25,
  .style7 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .768em;
    font-weight: 700;
    margin-top: 242px;
    height: 10px
  }
  .style25 {
    font-size: .384em;
    letter-spacing: 4px;
    text-decoration: underline solid #000;
    margin-left: 10px;
    margin-top: 23px;
    height: 6px
  }
  .style9 {
    background-color: #f26c4f;
    position: relative;
    margin-left: 180px;
    margin-top: 55px;
    width: 162px;
    height: 242px;
    flex-shrink: 0
  }
  .artboard1row8 {
    position: relative;
    display: flex;
    margin-left: 125px;
    margin-top: 698px;
    width: 430px;
    height: 119px
  }
  .style5 {
    background-color: #f8f8f8;
    position: relative;
    margin-left: 0;
    width: 188px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style10,
  .style26,
  .style27,
  .style28 {
    color: #000;
    font-family: Montserrat,serif;
    font-weight: 700
  }
  .style10 {
    text-align: right;
    line-height: 27px;
    position: relative;
    width: 135px;
    flex-shrink: 0;
    font-size: .768em;
    margin-left: 106px;
    margin-top: 98px
  }
  .style26,
  .style27,
  .style28 {
    font-size: .384em;
    letter-spacing: 4px;
    text-decoration: underline solid #000;
    margin-left: 416px;
    margin-top: 33px;
    height: 6px
  }
  .style26,
  .style28 {
    margin-top: 16px
  }
  .style26 {
    margin-left: 139px;
    margin-top: 6px
  }
  .artboard1row12 {
    display: flex;
    margin-left: 68px;
    margin-top: 51px;
    width: 506px;
    height: 293px
  }
  .style12 {
    margin-left: 0;
    width: 227px;
    height: 100%;
    align-self: stretch
  }
  .artboard1row12column1 {
    display: flex;
    margin-left: 135px;
    margin-top: 229px;
    width: 143px;
    height: 27px;
    flex-direction: column
  }
  .style0,
  .style1 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .384em;
    font-weight: 700;
    letter-spacing: 4px;
    text-decoration: underline solid #000;
    margin-top: 0;
    height: 6px
  }
  .style1 {
    margin-top: 16px
  }
  .style11 {
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    margin-left: 2px;
    margin-top: 1069px;
    width: 416px;
    height: 168px;
    flex-direction: column
  }
  .style13 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .768em;
    font-weight: 700;
    position: relative;
    margin-left: 348px;
    margin-top: 68px;
    height: 10px;
    flex-shrink: 0
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .artboard1row0 {
    display: flex;
    margin-left: 199px;
    margin-top: 130px;
    width: 611px;
    height: 110px
  }
  .style16,
  .style19 {
    font-weight: 700;
    margin-left: 0
  }
  .style19 {
    letter-spacing: 5px;
    height: 5px;
    color: #a1a1a1;
    font-family: Lato,serif;
    font-size: .45999999999999996em
  }
  .style16 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: 1.8399999999999999em;
    line-height: 47px;
    width: 218px;
    align-self: center
  }
  .style17,
  .style18 {
    font-family: Lato,serif;
    font-weight: 700
  }
  .style17 {
    line-height: 17px;
    width: 299px;
    align-self: stretch;
    color: #a1a1a1;
    font-size: .6133333333333333em;
    margin-left: 93px
  }
  .style18 {
    color: #000;
    text-align: center;
    font-size: .30666666666666664em;
    letter-spacing: 5px;
    margin-left: 510px;
    margin-top: 15px;
    height: 5px
  }
  .artboard1row2 {
    position: relative;
    display: flex;
    margin-left: 152px;
    margin-top: 108px;
    width: 726px;
    height: 194px
  }
  .style29 {
    margin-left: 0;
    width: 103px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style15 {
    position: relative;
    margin-left: 378px;
    margin-top: 66px;
    width: 245px;
    height: 157px;
    flex-shrink: 0
  }
  .artboard1row3,
  .style2 {
    position: relative;
    display: flex
  }
  .artboard1row3 {
    margin-top: 400px;
    margin-left: 2px;
    width: 915px;
    height: 201px
  }
  .style2 {
    background-color: #f8f8f8;
    margin-left: 0;
    width: 390px;
    height: 100%;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .artboard1row3container0row0 {
    display: flex;
    margin-left: 52px;
    margin-top: 47px;
    width: 432px;
    height: 123px
  }
  .style14 {
    color: #f26c4f;
    font-family: Montserrat,serif;
    font-size: 0;
    font-weight: 700;
    letter-spacing: 7px;
    margin-left: 0;
    height: 100%;
    align-self: stretch
  }
  .artboard1row3container0row0column1 {
    display: flex;
    margin-left: 250px;
    margin-top: 39px;
    width: 172px;
    height: 66px;
    flex-direction: column
  }
  .style20,
  .style21,
  .style22 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    margin-top: 0;
    height: 12px
  }
  .style21,
  .style22 {
    font-size: .45999999999999996em;
    letter-spacing: 5px;
    text-decoration: underline solid #000;
    margin-top: 20px;
    height: 7px
  }
  .style3 {
    background-color: #f8f8f8;
    position: relative;
    margin-left: 221px;
    margin-top: 69px;
    width: 302px;
    height: 157px;
    flex-shrink: 0
  }
  .style23,
  .style24,
  .style4 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    margin-left: 692px;
    margin-top: 42px;
    height: 12px
  }
  .style23,
  .style24 {
    font-size: .45999999999999996em;
    letter-spacing: 5px;
    text-decoration: underline solid #000;
    margin-left: 699px;
    margin-top: 20px;
    height: 7px
  }
  .artboard1row7 {
    position: relative;
    display: flex;
    margin-left: 155px;
    margin-top: 0;
    width: 655px;
    height: 289px
  }
  .artboard1row7column0,
  .style6 {
    margin-left: 5px;
    width: 245px;
    height: 255px;
    flex-shrink: 0
  }
  .artboard1row7column0 {
    display: flex;
    margin-left: 0;
    height: 334px;
    flex-direction: column
  }
  .style25,
  .style7 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    margin-top: 289px;
    height: 12px
  }
  .style25 {
    font-size: .45999999999999996em;
    letter-spacing: 5px;
    text-decoration: underline solid #000;
    margin-left: 12px;
    margin-top: 27px;
    height: 7px
  }
  .style9 {
    background-color: #f26c4f;
    position: relative;
    margin-left: 216px;
    margin-top: 66px;
    width: 194px;
    height: 289px;
    flex-shrink: 0
  }
  .artboard1row8 {
    position: relative;
    display: flex;
    margin-left: 150px;
    margin-top: 837px;
    width: 515px;
    height: 142px
  }
  .style5 {
    background-color: #f8f8f8;
    position: relative;
    margin-left: 0;
    width: 226px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style10,
  .style26,
  .style27,
  .style28 {
    color: #000;
    font-family: Montserrat,serif;
    font-weight: 700
  }
  .style10 {
    text-align: right;
    line-height: 32px;
    position: relative;
    width: 162px;
    flex-shrink: 0;
    font-size: .9199999999999999em;
    margin-left: 128px;
    margin-top: 118px
  }
  .style26,
  .style27,
  .style28 {
    font-size: .45999999999999996em;
    letter-spacing: 5px;
    text-decoration: underline solid #000;
    margin-left: 498px;
    margin-top: 39px;
    height: 7px
  }
  .style26,
  .style28 {
    margin-top: 20px
  }
  .style26 {
    margin-left: 167px;
    margin-top: 7px
  }
  .artboard1row12 {
    display: flex;
    margin-left: 81px;
    margin-top: 61px;
    width: 606px;
    height: 351px
  }
  .style12 {
    margin-left: 0;
    width: 272px;
    height: 100%;
    align-self: stretch
  }
  .artboard1row12column1 {
    display: flex;
    margin-left: 162px;
    margin-top: 275px;
    width: 172px;
    height: 32px;
    flex-direction: column
  }
  .style0,
  .style1 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .45999999999999996em;
    font-weight: 700;
    letter-spacing: 5px;
    text-decoration: underline solid #000;
    margin-top: 0;
    height: 7px
  }
  .style1 {
    margin-top: 20px
  }
  .style11 {
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    margin-left: 2px;
    margin-top: 1281px;
    width: 498px;
    height: 201px;
    flex-direction: column
  }
  .style13 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .9199999999999999em;
    font-weight: 700;
    position: relative;
    margin-left: 417px;
    margin-top: 81px;
    height: 12px;
    flex-shrink: 0
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .artboard1row0 {
    display: flex;
    margin-left: 259px;
    margin-top: 170px;
    width: 797px;
    height: 144px
  }
  .style16,
  .style19 {
    font-weight: 700;
    margin-left: 0
  }
  .style19 {
    letter-spacing: 6px;
    height: 6px;
    color: #a1a1a1;
    font-family: Lato,serif;
    font-size: .6000000000000001em
  }
  .style16 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: 2.4000000000000004em;
    line-height: 61px;
    width: 285px;
    align-self: center
  }
  .style17,
  .style18 {
    font-family: Lato,serif;
    font-weight: 700
  }
  .style17 {
    line-height: 22px;
    width: 390px;
    align-self: stretch;
    color: #a1a1a1;
    font-size: .8em;
    margin-left: 122px
  }
  .style18 {
    color: #000;
    text-align: center;
    font-size: .4em;
    letter-spacing: 6px;
    margin-left: 666px;
    margin-top: 19px;
    height: 6px
  }
  .artboard1row2 {
    position: relative;
    display: flex;
    margin-left: 198px;
    margin-top: 141px;
    width: 947px;
    height: 253px
  }
  .style29 {
    margin-left: 0;
    width: 134px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style15 {
    position: relative;
    margin-left: 493px;
    margin-top: 86px;
    width: 320px;
    height: 205px;
    flex-shrink: 0
  }
  .artboard1row3,
  .style2 {
    position: relative;
    display: flex
  }
  .artboard1row3 {
    margin-top: 522px;
    margin-left: 3px;
    width: 1194px;
    height: 262px
  }
  .style2 {
    background-color: #f8f8f8;
    margin-left: 0;
    width: 509px;
    height: 100%;
    align-self: stretch;
    flex-direction: column;
    flex-shrink: 0
  }
  .artboard1row3container0row0 {
    display: flex;
    margin-left: 67px;
    margin-top: 61px;
    width: 563px;
    height: 160px
  }
  .style14 {
    color: #f26c4f;
    font-family: Montserrat,serif;
    font-size: 0;
    font-weight: 700;
    letter-spacing: 10px;
    margin-left: 0;
    height: 100%;
    align-self: stretch
  }
  .artboard1row3container0row0column1 {
    display: flex;
    margin-left: 326px;
    margin-top: 51px;
    width: 224px;
    height: 86px;
    flex-direction: column
  }
  .style20,
  .style21,
  .style22 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    margin-top: 0;
    height: 16px
  }
  .style21,
  .style22 {
    font-size: .6000000000000001em;
    letter-spacing: 6px;
    text-decoration: underline solid #000;
    margin-top: 26px;
    height: 10px
  }
  .style3 {
    background-color: #f8f8f8;
    position: relative;
    margin-left: 288px;
    margin-top: 90px;
    width: 394px;
    height: 205px;
    flex-shrink: 0
  }
  .style23,
  .style24,
  .style4 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    margin-left: 902px;
    margin-top: 54px;
    height: 16px
  }
  .style23,
  .style24 {
    font-size: .6000000000000001em;
    letter-spacing: 6px;
    text-decoration: underline solid #000;
    margin-left: 912px;
    margin-top: 26px;
    height: 10px
  }
  .artboard1row7 {
    position: relative;
    display: flex;
    margin-left: 202px;
    margin-top: 0;
    width: 854px;
    height: 378px
  }
  .artboard1row7column0,
  .style6 {
    margin-left: 6px;
    width: 320px;
    height: 333px;
    flex-shrink: 0
  }
  .artboard1row7column0 {
    display: flex;
    margin-left: 0;
    height: 435px;
    flex-direction: column
  }
  .style25,
  .style7 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    margin-top: 378px;
    height: 16px
  }
  .style25 {
    font-size: .6000000000000001em;
    letter-spacing: 6px;
    text-decoration: underline solid #000;
    margin-left: 16px;
    margin-top: 35px;
    height: 10px
  }
  .style9 {
    background-color: #f26c4f;
    position: relative;
    margin-left: 282px;
    margin-top: 86px;
    width: 253px;
    height: 378px;
    flex-shrink: 0
  }
  .artboard1row8 {
    position: relative;
    display: flex;
    margin-left: 195px;
    margin-top: 1091px;
    width: 672px;
    height: 186px
  }
  .style5 {
    background-color: #f8f8f8;
    position: relative;
    margin-left: 0;
    width: 294px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style10,
  .style26,
  .style27,
  .style28 {
    color: #000;
    font-family: Montserrat,serif;
    font-weight: 700
  }
  .style10 {
    text-align: right;
    line-height: 42px;
    position: relative;
    width: 211px;
    flex-shrink: 0;
    font-size: 1.2000000000000002em;
    margin-left: 166px;
    margin-top: 154px
  }
  .style26,
  .style27,
  .style28 {
    font-size: .6000000000000001em;
    letter-spacing: 6px;
    text-decoration: underline solid #000;
    margin-left: 650px;
    margin-top: 51px;
    height: 10px
  }
  .style26,
  .style28 {
    margin-top: 26px
  }
  .style26 {
    margin-left: 218px;
    margin-top: 10px
  }
  .artboard1row12 {
    display: flex;
    margin-left: 106px;
    margin-top: 80px;
    width: 790px;
    height: 458px
  }
  .style12 {
    margin-left: 0;
    width: 355px;
    height: 100%;
    align-self: stretch
  }
  .artboard1row12column1 {
    display: flex;
    margin-left: 211px;
    margin-top: 358px;
    width: 224px;
    height: 42px;
    flex-direction: column
  }
  .style0,
  .style1 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: .6000000000000001em;
    font-weight: 700;
    letter-spacing: 6px;
    text-decoration: underline solid #000;
    margin-top: 0;
    height: 10px
  }
  .style1 {
    margin-top: 26px
  }
  .style11 {
    background-color: #f8f8f8;
    position: relative;
    display: flex;
    margin-left: 3px;
    margin-top: 1670px;
    width: 650px;
    height: 262px;
    flex-direction: column
  }
  .style13 {
    color: #000;
    font-family: Montserrat,serif;
    font-size: 1.2000000000000002em;
    font-weight: 700;
    position: relative;
    margin-left: 544px;
    margin-top: 106px;
    height: 16px;
    flex-shrink: 0
  }
}